.calcbtns{
    height: 90px;
    width: 900px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(222, 235, 219);
    user-select: none;
    box-shadow: 10px 10px 30px rgb(138, 130, 130),
    -10px -10px 30px rgb(138, 130, 130);
    

}

.res{
    width: 180px;
    background-color: orange;
}