.calcbtns{
    height: 90px;
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(222, 235, 219);
    user-select: none;
    box-shadow: 10px 10px 30px rgb(138, 130, 130),
    -10px -10px 30px rgb(138, 130, 130);
    

}

.res{
    width: 180px;
    background-color: orange;
}


.buttonBox {
    width: 100%;
    height: calc(100% - 110px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
  }